<div class="flex flex-row h-screen font-rubik">
    <div class="bg-[#F5F6FA] w-[517px] flex flex-col justify-between p-[50px] max-md:hidden">
        <img src="../../assets/images/Logo.svg" alt="" class="w-[132px]">
        <img src="../../assets/images/Group 1931.svg" alt="" class="w-[454px]">
        <div class="flex flex-col justify-center items-center">
            <p class="text-[#0B132A] font-medium text-[24px]">Services</p>
            <p class="text-[#4F5665] font-normal text-[16px] text-center w-[424px]">An expert team help you to analyze your polticalt power.An expert team .</p>
        </div>
        <p class="text-[#4F5665] font-normal text-[14px]">©2020 All Rights Reserved. PT Indonesia Indicator</p>
    </div>
    <div class="flex flex-grow justify-center items-center">
        <div class="w-[463px] flex flex-col gap-[40px]">
            <div class="flex flex-col gap-[8px]">
                <p class="font-bold text-[29px]">Welcome to Logo ipsum</p>
                <p class="text-[#444150] font-normal text-[16px]">Dont' have an account? <a href="" class="text-[#2161D5] font-semibold">Sign Up</a></p>
            </div>
            <form action="">
                <div class="flex flex-col justify-start items-center gap-[32px]">
                    <div class="flex flex-col justify-start items-start gap-[10px]">
                        <p class="font-bold text-[16px]">Username<span class="text-[#2161D5]">*</span></p>
                        <input type="text" [(ngModel)]="username" name="username" class="px-[20px] border-2 border-solid border-[#D9D9D9] rounded-[6px] w-[463px] h-[60px]">
                    </div>
                    <div class="flex flex-col justify-start items-start gap-[10px]">
                        <p class="font-bold text-[16px]">Password<span class="text-[#2161D5]">*</span></p>
                        <input type="password" [(ngModel)]="password" name="password" class="px-[20px] border-2 border-solid border-[#D9D9D9] rounded-[6px] w-[463px] h-[60px]">
                    </div>
                </div>
                <div class="flex flex-row justify-start items-center mt-[20px] mb-[30px] gap-2">
                    <input type="checkbox">
                    <p>Remember Me</p>
                </div>
                <button (click)="login()" class="border-2 border-solid border-[#2161D5] bg-[#2161D5] hover:bg-[#1e59c6] text-white text-[16px] font-bold hover:shadow-[0px_25px_60px_-15px_rgba(0,0,0,0.3)] hover:shadow-[#2161D5] rounded-[6px] w-[463px] h-[60px]">Log in</button>
            </form>
        </div>
    </div>
</div>