<div id="product" class="flex flex-col justify-center items-center mt-[113px] gap-[60px] font-rubik">
    <div class="flex flex-col justify-center items-center gap-[20px] mt-[100px]">
        <span class="text-[35px] font-bold">Why choose us?</span>
        <p class="text-[16px] font-normal text-[#4F5665] text-center">We provide to you the best choiches for you. The leading <br>political campaign intelligence platform</p>
    </div>
    <div class="flex flex-col justify-center items-center gap-[42px]">
        <div class="grid md:grid-cols-3 grid-cols-1 justify-between items-center gap-[40px]">
            <div class="border-2 border-solid border-[#DDDDDD] rounded-[20px] hover:border-[#2161D5]">
                <div class="flex flex-col justify-center items-start py-[51px] px-[34px] gap-2">
                    <img src="../../../../assets/images/fluent_layer-24-filled.svg" alt="" width="90px">
                    <span class="text-[24px] font-bold">Data</span>
                    <p class="text-[16px] font-normal text-[#4F5665] w-[266px]">The biggest regional data, development, and POI data.</p>
                </div>
            </div>
            <div class="border-2 border-solid border-[#DDDDDD] rounded-[20px] hover:border-[#2161D5]">
                <div class="flex flex-col justify-center items-start py-[51px] px-[34px] gap-2">
                    <img src="../../../../assets/images/ion_hardware-chip.svg" alt="" width="90px">
                    <span class="text-[24px] font-bold">Technology</span>
                    <p class="text-[16px] font-normal text-[#4F5665] w-[266px]">Geospatial platform with advanced analysis that suit your neetds.</p>
                </div>
            </div>
            <div class="border-2 border-solid border-[#DDDDDD] rounded-[20px] hover:border-[#2161D5]">
                <div class="flex flex-col justify-center items-start py-[51px] px-[34px] gap-2">
                    <img src="../../../../assets/images/ic_outline-miscellaneous-services.svg" alt="" width="90px">
                    <span class="text-[24px] font-bold">Services</span>
                    <p class="text-[16px] font-normal text-[#4F5665] w-[266px]">An expert team help you to analyze your poltical power.</p>
                </div>
            </div>
        </div>
        <button class="w-[200px] h-[56px] bg-transparent rounded-full text-[16px] font-bold text-[#2161D5] border-2 border-solid border-[#2161D5] hover:bg-[#2161D5] hover:text-white hover:shadow-[0px_25px_60px_-15px_rgba(0,0,0,0.3)] hover:shadow-[#2161D5]">Learn More</button>
    </div>
</div>
<div id="blog" class="bg-[#2161D5] relative md:h-[1909px] max-md:p-5 text-white mt-[175px]">
    <div class="z-[1]">
        <img src="../../../../assets/images/bg-blue1.svg" class="absolute top-[37px] left-[150px] max-md:hidden" width="413px">
        <img src="../../../../assets/images/bg-blue-out.svg" class="absolute top-2 right-2 max-md:hidden" width="131px">
        <img src="../../../../assets/images/bg-blue2.svg" class="absolute top-[523px] right-[130px] max-md:hidden" width="473px">
        <img src="../../../../assets/images/bg-blue3.svg" class="absolute top-[1287px] left-[150px] max-md:hidden" width="413px">
    </div>
    <div class="z-10 md:px-[150px] max-md:px-5 flex flex-col max-md:p-5">
        <div class="flex flex-row justify-center items-center gap-[40px]">
            <div class="w-[345px] max-md:hidden">
                <img src="../../../../assets/images/Rectangle 236.svg" alt="" class="relative top-[-54px]" width="345px">
            </div>
            <div class="flex flex-col w-[420px] md:mt-[100px] gap-[20px]">
                <span class="text-[35px] font-rubik font-medium">App Overview 1</span>
                <p class="text-[16px] font-mulish font-normal">Advanced spatial analysis to understand where and why things happen, identify the target constituency, and optimize the campaign. </p>
                <button class="font-rubik w-[153px] h-[46px] rounded-full border-2 border-solid border-white bg-transparent hover:bg-white hover:text-[#2161D5]">Learn More</button>
            </div>
        </div>
    </div>
    <div class="z-10 md:px-[150px] max-md:px-5 flex flex-col md:mt-[200px] max-md:p-5">
        <div class="flex flex-row justify-center items-center gap-[40px]">
            <div class="flex flex-col w-[420px] md:mt-[166px] gap-[20px]">
                <span class="text-[35px] font-rubik font-medium">App Overview 2</span>
                <p class="text-[16px] font-mulish font-normal">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <button class="font-rubik w-[153px] h-[46px] rounded-full border-2 border-solid border-white bg-transparent hover:bg-white hover:text-[#2161D5]">Learn More</button>
            </div>
            <div class="h-[450px] max-md:hidden">
                <img src="../../../../assets/images/undraw_analytics_re_dkf8 1.svg" alt="" class="relative" height="450px">
            </div>
        </div>
    </div>
    <div class="z-10 md:px-[150px] max-md:px-5 flex flex-col md:mt-[275px] max-md:p-5">
        <div class="flex flex-row justify-center items-center gap-[40px]">
            <div class="w-[500px] max-md:hidden">
                <img src="../../../../assets/images/undraw_online_ad_re_ol62 1.svg" alt="" class="relative" width="500px">
            </div>
            <div class="flex flex-col w-[420px] gap-[20px]">
                <span class="text-[35px] font-rubik font-medium">App Overview 3</span>
                <p class="text-[16px] font-mulish font-normal">Advanced spatial analysis to understand where and why things happen, identify the target constituency, and optimize the campaign. </p>
                <button class="font-rubik w-[153px] h-[46px] rounded-full border-2 border-solid border-white bg-transparent hover:bg-white hover:text-[#2161D5]">Learn More</button>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col justify-center items-center mt-[118px] gap-[60px] font-rubik">
    <div class="flex flex-col justify-center items-center gap-[20px]">
        <span class="text-[35px] font-bold">How it works for you?</span>
        <p class="text-[16px] font-normal text-[#4F5665] text-center w-[464px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <button class="w-[200px] h-[56px] bg-transparent rounded-full text-[16px] font-bold text-[#2161D5] border-2 border-solid border-[#2161D5] hover:bg-[#2161D5] hover:text-white hover:shadow-[0px_25px_60px_-15px_rgba(0,0,0,0.3)] hover:shadow-[#2161D5]">Learn More</button>
    </div>
    <div class="flex flex-col justify-center items-center gap-[42px]">
        <div class="grid md:grid-cols-2 grid-cols-1 justify-between items-center gap-[40px]">
            <div class="border-2 border-solid border-[#DDDDDD] rounded-[20px] hover:border-[#2161D5] w-[424px] h-[488px]">
                <div class="flex flex-col justify-center items-center py-[51px] px-[33px] gap-[50px]">
                    <img src="../../../../assets/images/rafiki1.svg" alt="" width="224px">
                    <div class="flex flex-col justify-center items-center gap-[12px]">
                        <span class="text-[24px] font-bold text-center">Geographic Segmentation</span>
                        <p class="text-[16px] font-normal text-[#4F5665] w-[270px] text-center">Consist of creating differend groups of customers based on geographic boundaries</p>
                    </div>
                </div>
            </div>
            <div class="border-2 border-solid border-[#DDDDDD] rounded-[20px] hover:border-[#2161D5] w-[424px] h-[488px]">
                <div class="flex flex-col justify-center items-center py-[51px] px-[33px] gap-[50px]">
                    <img src="../../../../assets/images/rafiki2.svg" alt="" width="224px">
                    <div class="flex flex-col justify-center items-center gap-[12px]">
                        <span class="text-[24px] font-bold text-center">Demographic Segmentation</span>
                        <p class="text-[16px] font-normal text-[#4F5665] w-[270px] text-center">Consist of dividing the market through different variables such as age, gender, income, etc</p>
                    </div>
                </div>
            </div>
            <div class="border-2 border-solid border-[#DDDDDD] rounded-[20px] hover:border-[#2161D5] w-[424px] h-[488px]">
                <div class="flex flex-col justify-center items-center py-[51px] px-[33px] gap-[50px]">
                    <img src="../../../../assets/images/rafiki3.svg" alt="" width="224px">
                    <div class="flex flex-col justify-center items-center gap-[12px]">
                        <span class="text-[24px] font-bold text-center">Psychograpich Segmentation</span>
                        <p class="text-[16px] font-normal text-[#4F5665] w-[270px] text-center">Consist of creating differend groups of customers based on geographic boundaries</p>
                    </div>
                </div>
            </div>
            <div class="border-2 border-solid border-[#DDDDDD] rounded-[20px] hover:border-[#2161D5] w-[424px] h-[488px]">
                <div class="flex flex-col justify-center items-center py-[51px] px-[33px] gap-[50px]">
                    <img src="../../../../assets/images/rafiki4.svg" alt="" width="224px">
                    <div class="flex flex-col justify-center items-center gap-[12px]">
                        <span class="text-[24px] font-bold text-center">Behavorial Segmentation</span>
                        <p class="text-[16px] font-normal text-[#4F5665] w-[270px] text-center">Consist of creating differend groups of customers based on geographic boundaries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pricing" class="flex flex-col justify-center items-center gap-[60px] font-rubik">
    <div class="flex flex-col justify-center items-center gap-[20px] mt-[118px]">
        <span class="text-[35px] font-bold">Plans and Pricing</span>
        <p class="text-[16px] font-normal text-[#4F5665] text-center w-[464px]">We provide to you the best choiches for you. The leading political campaign intelligence platform</p>
        <button class="w-[200px] h-[56px] bg-transparent rounded-full text-[16px] font-bold text-[#2161D5] border-2 border-solid border-[#2161D5] hover:bg-[#2161D5] hover:text-white hover:shadow-[0px_25px_60px_-15px_rgba(0,0,0,0.3)] hover:shadow-[#2161D5]">Learn More</button>
    </div>
    <div class="flex flex-col justify-center items-center gap-[42px]">
        <div class="grid md:grid-cols-2 grid-cols-1 justify-between items-center gap-[40px]">
            <div class="border-2 border-solid border-[#DDDDDD] rounded-[20px] hover:border-[#2161D5] w-[330px] h-[720px]">
                <div class="flex flex-col justify-center items-center py-[51px] px-[33px] gap-[50px]">
                    <img src="../../../../assets/images/Standard.svg" alt="" width="145px">
                    <div class="flex flex-col justify-center items-center gap-[30px]">
                        <span class="text-[24px] font-bold text-center">Individual Plan</span>
                        <ul class="flex flex-col justify-center items-start w-[215px] gap-[10px]">
                            <li class="flex flex-row justify-center items-start gap-[21px]">
                                <img src="../../../../assets/images/Group 1226.svg" alt="">
                                <p class="text-[14px] font-normal text-[#4F5665] text-start">1 User</p>
                            </li>
                            <li class="flex flex-row justify-center items-start gap-[21px]">
                                <img src="../../../../assets/images/Group 1226.svg" alt="">
                                <p class="text-[14px] font-normal text-[#4F5665] text-start">1 Basic Analysis</p>
                            </li>
                            <li class="flex flex-row justify-center items-start gap-[21px]">
                                <img src="../../../../assets/images/Group 1226.svg" alt="">
                                <p class="text-[14px] font-normal text-[#4F5665] text-start">Unlimited Select Services</p>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col justify-center items-center gap-[20px] mt-[95px]">
                        <span class="flex flex-row gap-1 text-[25px]">
                            <p class="font-bold">$99</p>
                            <p class="font-normal">/ mo</p>
                        </span>
                        <button class="w-[178px] h-[45px] bg-transparent rounded-full text-[16px] font-bold text-[#2161D5] border-2 border-solid border-[#2161D5] hover:bg-[#2161D5] hover:text-white hover:shadow-[0px_15px_30px_-15px_rgba(0,0,0,0.3)] hover:shadow-[#2161D5]">Select</button>
                    </div>
                </div>
            </div>
            <div class="border-2 border-solid border-[#DDDDDD] rounded-[20px] hover:border-[#2161D5] w-[330px] h-[720px]">
                <div class="flex flex-col justify-center items-center py-[51px] px-[33px] gap-[50px]">
                    <img src="../../../../assets/images/Standard.svg" alt="" width="145px">
                    <div class="flex flex-col justify-center items-center gap-[30px]">
                        <span class="text-[24px] font-bold text-center">Parties Plan</span>
                        <ul class="flex flex-col justify-center items-start w-[215px] gap-[10px]">
                            <li class="flex flex-row justify-center items-start gap-[21px]">
                                <img src="../../../../assets/images/Group 1226.svg" alt="">
                                <p class="text-[14px] font-normal text-[#4F5665] text-start">Unilimited User</p>
                            </li>
                            <li class="flex flex-row justify-center items-start gap-[21px]">
                                <img src="../../../../assets/images/Group 1226.svg" alt="">
                                <p class="text-[14px] font-normal text-[#4F5665] text-start">Basic Analysis</p>
                            </li>
                            <li class="flex flex-row justify-center items-start gap-[21px]">
                                <img src="../../../../assets/images/Group 1226.svg" alt="">
                                <p class="text-[14px] font-normal text-[#4F5665] text-start">Unlimited Select Services</p>
                            </li>
                            <li class="flex flex-row justify-center items-start gap-[21px]">
                                <img src="../../../../assets/images/Group 1226.svg" alt="">
                                <p class="text-[14px] font-normal text-[#4F5665] text-start">Free Extended 1 Month</p>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col justify-center items-center gap-[20px] mt-[60px]">
                        <span class="flex flex-row gap-1 text-[25px]">
                            <p class="font-bold">$500</p>
                            <p class="font-normal">/ mo</p>
                        </span>
                        <button class="w-[178px] h-[45px] bg-transparent rounded-full text-[16px] font-bold text-[#2161D5] border-2 border-solid border-[#2161D5] hover:bg-[#2161D5] hover:text-white hover:shadow-[0px_15px_30px_-15px_rgba(0,0,0,0.3)] hover:shadow-[#2161D5]">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact" class="flex flex-col justify-center items-center gap-[60px] font-rubik">
    <div class="flex flex-col justify-center items-center gap-[40px] mt-[118px]">
        <span class="text-[35px] font-bold">Frequenly Asked Questions</span>
        <ul class="flex flex-col md:w-[754px] gap-[20px]">
            <li class="flex flex-col justify-center border-2 border-solid border-[#DDDDDD] py-5 px-7  text-[16px] gap-[8px]">
                <div class="flex flex-row justify-between">
                    <span class="font-medium" [ngClass]="{'text-[#2161D5]':ask1 , '':!ask1}">What do you mean by public-facing usage?</span>
                    <img src="../../../../assets/images/akar-icons_plus.svg" alt="" [ngClass]="{'hidden':ask1 , '':!ask1}" (click)="setAsk1()">
                    <img src="../../../../assets/images/akar-icons_minus.svg" alt="" [ngClass]="{'':ask1 , 'hidden':!ask1}" (click)="setAsk1()">
                </div>
                <p class="text-[#4F5665] md:w-[656px]" [ngClass]="{'':ask1 , 'hidden':!ask1}">We define public-facing usage as leveraging CARTO to power enterprise-scale applications that are made available to external parties such as clients or the public, as opposed to internal demonstration-only applications.</p>
            </li>
            <li class="flex flex-col justify-center border-2 border-solid border-[#DDDDDD] py-5 px-7  text-[16px] gap-[8px]">
                <div class="flex flex-row justify-between">
                    <span class="font-medium" [ngClass]="{'text-[#2161D5]':ask2 , '':!ask2}">Can i  buy more storage for my individual plan?</span>
                    <img src="../../../../assets/images/akar-icons_plus.svg" alt="" [ngClass]="{'hidden':ask2 , '':!ask2}" (click)="setAsk2()">
                    <img src="../../../../assets/images/akar-icons_minus.svg" alt="" [ngClass]="{'':ask2 , 'hidden':!ask2}" (click)="setAsk2()">
                </div>
                <p class="text-[#4F5665] md:w-[656px]" [ngClass]="{'':ask2 , 'hidden':!ask2}">We define public-facing usage as leveraging CARTO to power enterprise-scale applications that are made available to external parties such as clients or the public, as opposed to internal demonstration-only applications.</p>
            </li>
            <li class="flex flex-col justify-center border-2 border-solid border-[#DDDDDD] py-5 px-7  text-[16px] gap-[8px]">
                <div class="flex flex-row justify-between">
                    <span class="font-medium" [ngClass]="{'text-[#2161D5]':ask3 , '':!ask3}">What happens to my data after the trial or if i cancel my subscription?</span>
                    <img src="../../../../assets/images/akar-icons_plus.svg" alt="" [ngClass]="{'hidden':ask3 , '':!ask3}" (click)="setAsk3()">
                    <img src="../../../../assets/images/akar-icons_minus.svg" alt="" [ngClass]="{'':ask3 , 'hidden':!ask3}" (click)="setAsk3()">
                </div>
                <p class="text-[#4F5665] md:w-[656px]" [ngClass]="{'':ask3 , 'hidden':!ask3}">We define public-facing usage as leveraging CARTO to power enterprise-scale applications that are made available to external parties such as clients or the public, as opposed to internal demonstration-only applications.</p>
            </li>
            <li class="flex flex-col justify-center border-2 border-solid border-[#DDDDDD] py-5 px-7  text-[16px] gap-[8px]">
                <div class="flex flex-row justify-between">
                    <span class="font-medium" [ngClass]="{'text-[#2161D5]':ask4 , '':!ask4}">Can I cancel my monthly or annual subscription?</span>
                    <img src="../../../../assets/images/akar-icons_plus.svg" alt="" [ngClass]="{'hidden':ask4 , '':!ask4}" (click)="setAsk4()">
                    <img src="../../../../assets/images/akar-icons_minus.svg" alt="" [ngClass]="{'':ask4 , 'hidden':!ask4}" (click)="setAsk4()">
                </div>
                <p class="text-[#4F5665] md:w-[656px]" [ngClass]="{'':ask4 , 'hidden':!ask4}">We define public-facing usage as leveraging CARTO to power enterprise-scale applications that are made available to external parties such as clients or the public, as opposed to internal demonstration-only applications.</p>
            </li>
        </ul>
        <button class="w-[179px] h-[45px] bg-transparent rounded-full text-[16px] font-bold text-[#2161D5] border-2 border-solid border-[#2161D5] hover:bg-[#2161D5] hover:text-white hover:shadow-[0px_25px_60px_-15px_rgba(0,0,0,0.3)] hover:shadow-[#2161D5]">Add Questions</button>
    </div>
</div>
