<nav id="navbar" [ngClass]="{'bg-[#2161D5] text-white py-[10px] transition-all ease-in':isScroll, 'text-[#04121F] pt-[40px]':!isScroll, 'max-md:bg-[#2161D5] h-screen transition-all ease-in':menu}" class="md:items-center md:justify-between md:flex font-rubik md:px-[150px] sticky top-0 z-50 text-[16px] px-5">
    <div class="my-auto py-2 justify-between items-center flex">
        <img src="../../../../assets/images/Logo.svg" alt="logo" layout="intrinsic" width="132" [ngClass]="{'hidden':menu || isScroll, '':!menu || isScroll}">
        <img src="../../../../assets/images/Logo-white.svg" alt="logo" layout="intrinsic" width="132" [ngClass]="{'':menu, 'hidden':!menu}">
        <img src="../../../../assets/images/Logo-white.svg" alt="logo" layout="intrinsic" width="132" [ngClass]="{'':isScroll, 'hidden':!isScroll || menu}">
        <div name="menu" id="menu" class="md:hidden" value=false>
            <button (click)="setMenu()">
                <img
                    src="../../../../assets/images/bars-solid.svg"
                    alt="dash icon"
                    layout="intrinsic"
                    width="24"
                    height="24"
                    [ngClass]="{'hidden':menu, '':!menu}"
                />
                <img
                    src="../../../../assets/images/xmark-solid.svg"
                    alt="dash icon"
                    layout="intrinsic"
                    width="24"
                    height="24"
                    [ngClass]="{'':menu, 'hidden':!menu}"
                />
            </button>
        </div>
    </div>
    <ul class="text-base font-normal md:py-0 md:pl-0 md:flex md:items-center md:justify-between md:opacity-100 md:z-auto md:static gap-[40px]" [ngClass]="{'pl-7 max-md:text-white':menu,'opacity-0 absolute top-[-400px] ':!menu}">
        <li class="py-3 md:my-auto" [ngClass]="{'font-semibold':home, '':!home}">
            <a href="#">Home</a>
        </li>
        <li class="py-3 md:my-auto" [ngClass]="{'font-semibold':product, '':!product}">
            <a href="#product">Product</a>
        </li>
        <li class="py-3 md:my-auto" [ngClass]="{'font-semibold':blog, '':!blog}">
            <a href="#blog">Blog</a>
        </li>
        <li class="py-3 md:my-auto" [ngClass]="{'font-semibold':pricing, '':!pricing}">
            <a href="#pricing">Pricing</a>
        </li>
        <li class="py-3 md:my-auto" [ngClass]="{'font-semibold':contact, '':!contact}">
            <a href="#contact">Contact</a>
        </li>
        <li class="py-3 md:my-auto">
            <a href="/about">About Us</a>
        </li>
        <div class="py-4 flex flex-row items-center md:hidden gap-[40px]">
            <a href="/admin">Sign In</a>
            <a href="/admin">
                <button class="max-md:text-white bg-transparent max-md:hover:bg-white max-md:hover:text-[#2161D5] focus:ring-4 focus:ring-blue-300 font-medium rounded-full border-solid border-2 border-white text-sm px-5 py-2.5 mr-2 my-auto">Sign Up</button>
            </a>
        </div>
    </ul>
    <div class="md:py-0 py-4 md:pl-0 pl-7 md:flex md:items-center max-md:hidden gap-[40px] font-semibold">
        <a href="/admin">Sign In</a>
        <a href="/admin">
            <button *ngIf="!isScroll" class="text-[#2161D5] hover:text-white bg-transparent hover:bg-[#2161D5] focus:ring-4 focus:ring-blue-300 rounded-full border-solid border-2 border-[#2161D5] my-auto w-[150px] h-[45px]">Sign Up</button>
            <button *ngIf="isScroll" class="text-white hover:text-[#2161D5] bg-transparent hover:bg-white focus:ring-4 focus:ring-blue-300 rounded-full border-solid border-2 border-white my-auto w-[150px] h-[45px]">Sign Up</button>
        </a>
    </div>

</nav>