<nav id="navbar" [ngClass]="{'bg-[#2161D5]':isScroll, 'bg-transparent':!isScroll}" class="md:items-center md:justify-between md:flex text-[#04121F] font-rubik md:px-[150px] sticky top-0 z-50 text-[16px] pt-[40px] backdrop-blur">
    <div class="my-auto py-2 justify-between items-center flex">
        <img src="../../../../assets/images/Logo.svg" alt="logo" layout="intrinsic" width="132">
        <div name="menu" id="menu" class="md:hidden" value=false>
            <button onclick="setOpen()">
                <img
                    src="./src/image/icons/bars-solid.svg"
                    alt="dash icon"
                    layout="intrinsic"
                    width="24"
                    height="24"
                />
            </button>
        </div>
    </div>
    <ul class="text-base font-normal md:py-0 md:pl-0 pl-7 md:flex md:items-center md:justify-between md:opacity-100 opacity-0 md:z-auto md:static absolute top-[-400px] gap-[40px]">
        <li class="py-3 md:my-auto font-semibold">
            <a href="#home">Home</a>
        </li>
        <li class="py-3 md:my-auto">
            <a href="">Product</a>
        </li>
        <li class="py-3 md:my-auto">
            <a href="">Blog</a>
        </li>
        <li class="py-3 md:my-auto">
            <a href="">Pricing</a>
        </li>
        <li class="py-3 md:my-auto">
            <a href="">Contact</a>
        </li>
        <li class="py-3 md:my-auto">
            <a href="">About Us</a>
        </li>
        <div class="md:py-0 py-4 md:pl-0 pl-7 md:flex md:items-center md:hidden gap-[40px]">
            <a href="">Sign In</a>
            <a href="">
                <button class="text-[#2161D5] bg-transparent hover:bg-[#2161D5] focus:ring-4 focus:ring-blue-300 font-medium rounded-[12px] text-sm px-5 py-2.5 mr-2 my-auto">Sign Up</button>
            </a>
        </div>
    </ul>
    <div class="md:py-0 py-4 md:pl-0 pl-7 md:flex md:items-center max-md:hidden gap-[40px] font-semibold">
        <a href="">Sign In</a>
        <a href="">
            <button class="text-[#2161D5] hover:text-white bg-transparent hover:bg-[#2161D5] focus:ring-4 focus:ring-blue-300 rounded-full border-solid border-2 border-[#2161D5] my-auto w-[150px] h-[45px]">Sign Up</button>
        </a>
    </div>

</nav>