<aside class="w-full h-screen fixed top-0 z-10 max-h-screen flex flex-row font-rubik">
    <div class="bg-[#2A3042] w-[240px] flex flex-col justify-start items-start p-[24px] gap-[45px]">
        <div>
            <img src="../../../../assets/images/admin/Logo-admin.svg" alt="" class="w-[132px]">
        </div>
        <div class="flex flex-col justify-start items-start gap-[15px]">
            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_dash (1).svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Dashboard</p>
            </div>

            <p class="text-[#A6B0CF] text-[11px] font-semibold uppercase font-poppins py-[1px]">Data</p>

            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_slack.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Visualization</p>
            </div>
            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_archive.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Case</p>
            </div>
            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_server.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Data Set</p>
            </div>
            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_database.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Data Source</p>
            </div>
            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_wifi.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Connection</p>
            </div>

            <p class="text-[#A6B0CF] text-[11px] font-semibold uppercase font-poppins py-[1px]">Assets</p>

            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_figma.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Icon</p>
            </div>
            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_image.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Image</p>
            </div>

            <p class="text-[#A6B0CF] text-[11px] font-semibold uppercase font-poppins py-[1px]">Authorization</p>

            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_user.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Account</p>
            </div>
            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_pocket.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Role</p>
            </div>
            <div class="flex flex-row justify-start items-center gap-[14px]">
                <img src="../../../../assets/images/admin/fi_workspace.svg" alt="">
                <p class="text-[#A6B0CF] text-[13px] font-normal">Workspace</p>
            </div>
        </div>
    </div>
</aside>