<div class="h-screen">
    <app-navbar></app-navbar>
    <div class="flex md:flex-row max-md:flex-col justify-between font-rubik items-center mt-[48px] md:px-[150px] max-md:px-5">
        <div class="flex flex-col justify-start">
            <h1 class="flex flex-col justify-start">
                <p class="text-[24px] font-medium">Ooops!</p>
                <p class="text-[24px] font-medium">Page Not Found</p>
            </h1>
            <p class="text-[16px] font-normal md:max-w-[294px] text-[#4F5665] py-[10px]">This page doesn`t exist or was removed. We suggest you back to home</p>
            <button class="h-[46px] w-[153px] rounded-full border-2 border-solid border-[#2161D5] hover:bg-[#2161D5] text-[16px] font-bold text-[#2161D5] hover:text-white mt-[43px] hover:shadow-[50px_25px_60px_-15px_rgba(0,0,0,0.3)] hover:shadow-[#2161D5]">Learn More</button>
        </div>
        <img src="../../assets/images/undraw_page_not_found_re_e9o6 1.svg" alt="hero" class="max-md:hidden h-[400px]">
    
    </div>
</div>