<div class="flex flex-row justify-between font-rubik items-center mt-[48px] md:px-[150px]">
    <div class="flex flex-col justify-start">
        <h1 class="flex flex-col justify-start">
            <p class="text-[60px] font-medium">Observe Your</p>
            <p class="text-[60px] font-bold mt-[-15px]">Power</p>
        </h1>
        <p class="text-[16px] font-normal w-[541px] text-[#4F5665] py-[10px]">Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone</p>
        <button class="h-[60px] w-[192px] rounded-full bg-[#2161D5] text-[16px] font-bold text-white mt-[43px] shadow-[50px_25px_60px_-15px_rgba(0,0,0,0.3)] shadow-[#2161D5] hover:bg-[#174496]">See a Demo</button>
    </div>
    <img src="../../../../assets/images/undraw_voting_nvu7 1.svg" alt="hero" height="450px">

</div>