<div class="flex flex-col font-rubik justify-start items-start w-full gap-[20px]">
    <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-row justify-start items-center rounded-[5px] bg-white w-[290px] h-[42px] gap-[10px] p-[18px] drop-shadow-sm">
            <img src="../../../../assets/images/admin/fi_search.svg" alt="">
            <input type="text" placeholder="Search user management" class="outline-none border-none bg-transparent grow placeholder:font-normal placeholder:text-[13px]">
        </div>
        <button class="right-0 bg-[#3A70D9] drop-shadow-sm rounded-[5px] text-white active:bg-[#3463c3] w-[104px] h-[37px] font-semibold text-[13px]">Add User</button>
    </div>
    <ul class="flex flex-col gap-[12px] w-full">
        <li class="bg-white drop-shadow-sm h-[39px] grid grid-cols-11 justify-start items-center font-medium text-[13px] text-[#0B132A] w-full px-[16px] gap-[16px]">
            <p class="col-span-3">Name</p>
            <p class="col-span-2">Username</p>
            <p class="col-span-2">Email</p>
            <p class="col-span-1">Gender</p>
            <p class="col-span-2">Last Update</p>
            <p class="col-span-1">Action</p>
        </li>
        <li class="bg-white drop-shadow-sm h-[73px] grid grid-cols-11 justify-start items-center font-regular text-[14px] text-[#0B132A] w-full p-[16px] gap-[16px]">
            <div class="col-span-3 gap-[20px] flex flex-row items-center">
                <img src="../../../../assets/images/admin/Ellipse 256.png" alt="">
                <p class="">Kristin Watson</p>
            </div>
            <p class="col-span-2">@kristinwatson</p>
            <p class="col-span-2">kristinwatson@gmail.com</p>
            <p class="col-span-1">Female</p>
            <p class="col-span-2">Jun 15, 08:30:04</p>
            <button class="col-span-1"><img src="../../../../assets/images/admin/u_ellipsis-h.svg" alt=""></button>
        </li>
    </ul>
    <div class="flex flex-row justify-between w-full">
        <p class="text-[#4F5665] text-[14px] font-normal">Showing 7 of 50 User</p>
        <div class="bg-white drop-shadow-sm rounded-[5px] w-[282px] h-[42px] text-[14px] font-semibold text-[#0B132A] flex flex-row justify-center items-center">
            <button class="w-[38px] h-[38px] flex justify-center items-center"><img src="../../../../assets/images/admin/u_angle-left-b.svg" alt=""></button>
            <button class="w-[38px] h-[38px] bg-[#3A70D9] rounded-[5px] text-white">1</button>
            <button class="w-[38px] h-[38px]">2</button>
            <button class="w-[38px] h-[38px]">3</button>
            <button class="w-[38px] h-[38px] flex justify-center items-center"><img src="../../../../assets/images/admin/u_ellipsis-h.svg" alt=""></button>
            <button class="w-[38px] h-[38px]">3</button>
            <button class="w-[38px] h-[38px] flex justify-center items-center"><img src="../../../../assets/images/admin/u_angle-right-b.svg" alt=""></button>
        </div>
    </div>
</div>