<div class="md:px-[150px] mt-[120px]">
    <div class="flex flex-row justify-between items-center bg-[#2161D5] rounded-[10px] font-rubik text-white px-[70px] py-[59px]">
        <div class="flex flex-col justify-center items-start w-[372px] gap-[20px]">
            <p class="font-medium text-[35px]">Subscribe Now for Get Special Features!</p>
            <p class="font-normal text-[16px]">Let's subscribe with us and find the fun.</p>
        </div>
        <button class="font-rubik font-bold text-[16px] w-[250px] h-[60px] rounded-[10px] border-2 border-solid border-white bg-transparent hover:bg-white hover:text-[#2161D5]">Subscribe Now</button>
    </div>
</div>
<footer class="bg-[#F8F8F8] px-[150px] py-[60px] mt-[120px] flex flex-row justify-between items-start font-rubik">
    <div class="flex flex-col justify-start items-start gap-[30px]">
        <img src="../../../../assets/images/Frame 26.svg" alt="">
        <p class="font-normal text-[16px] text-[#4F5665] w-[340px]"><span class="font-bold">Global</span> is a private virtual network that has unique features and has high security.</p>
        <div class="flex flex-row justify-start items-center drop-shadow-xl gap-[20px]">
            <a href=""><img src="../../../../assets/images/Facebook.svg" alt="" width="34px"></a>
            <a href=""><img src="../../../../assets/images/Twitter.svg" alt="" width="34px"></a>
            <a href=""><img src="../../../../assets/images/Instagram.svg" alt="" width="34px"></a>
        </div>
        <p class="font-normal text-[#AFB5C0] text-[16px]">©2020<span class="font-bold">EBDESK</span></p>
    </div>
    <div class="flex flex-row justify-start items-start">
        <div class="flex flex-col justify-center items-start gap-[20px]">
            <p class="text-[18px] font-medium">Product</p>
            <ul class="flex flex-col justify-center items-start gap-[10px]">
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Download</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Pricing</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Location</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Server</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Countries</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Blog</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-row justify-start items-start">
        <div class="flex flex-col justify-center items-start gap-[20px]">
            <p class="text-[18px] font-medium">Engage</p>
            <ul class="flex flex-col justify-center items-start gap-[10px]">
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Geolabs?</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">FAQ</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Tutorials</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">About Us</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Privacy Policy</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Terms of Service</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-row justify-start items-start">
        <div class="flex flex-col justify-center items-start gap-[20px]">
            <p class="text-[18px] font-medium">Earn Money</p>
            <ul class="flex flex-col justify-center items-start gap-[10px]">
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Affiliate</a>
                </li>
                <li class="text-[16px] font-normal text-[#4F5665]">
                    <a href="">Become Partner</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
